* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
}
.container{
  background-color: aquamarine;
  height: 100%;
 display: flex; 
 flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  color: brown;
  font-size: 100px;
  font-weight: 900;
  font-family: sans-serif;
  font-style: italic;
}
.container p {
  text-align: end;
  color: blue;
   font-size: 30px;
  font-weight: 100;
  font-family: sans-serif;
  font-style: italic
  }
 .social {
  text-align: center;
  font-size: 65px;
 }
.social-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 2px solid white;
font-size: 65px;
text-decoration: none;
color: bisque;
}